@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tag Helpers and View Components</h1>    
    <p>Excercieses from the Plural Sight course - ASP.NET Core Tag Helpes and View Components</p>
</div>
<div>
    
</div>
